*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Michroma", sans-serif;
    transition: 1s;
}
:root{
    --fundo: #171720;
    --linha: white;
    --texto: #FFFFFF;
    --nome: #9D9D9D;
    --borda: #00F5FF;
    --texto-detalhe: #000000;
    --botao: #8ce7eb;
}
.modoclaro{
    --fundo: #9C9C9C;
    --linha: black;
    --texto: #000000;
    --nome: #484851;
    --borda: #171720;
    --texto-detalhe: #FFFFFF;
    --botao: #484851;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--fundo);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    height: 8vh;
    border-bottom: 1px solid var(--linha);
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.botao-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 565px;
}
.botao-header a{
    margin-left: 4%;
    margin-right: 4%;
    text-decoration: none;
    color: var(--texto);
    font-size: 14px;
    font-weight: 500;
}
.botao-header p{
    font-size: 12px;
    color: var(--texto);
    font-weight: 500;
    cursor: default;
}
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
} 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.bolinha {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    transition: 4s;
}
.bolinha:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: #171720;
    transition: 0.4s;
}
input:checked + .bolinha {
    background-color: #FFFFFF;
}
input:checked + .bolinha:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #9c9c9c;
}
.bolinha {
    border-radius: 34px;
}  
.bolinha:before {
    border-radius: 50%;
}
.header-modos{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.botao-curriculo{
    font-size: 12px;
    text-decoration: none;
    color: var(--texto);
    border: 1px solid var(--texto);
    padding: 7px;
    border-radius: 15px;
}
#inicio-site{
    height: 60vh;
    width: 100%;
    display: flex;
    padding-left: 8%;
    align-items: center;
}
#texto{
    white-space: nowrap;
    overflow: hidden;
    color: var(--texto);
    font-weight: 400;
    font-size: 36px;
    padding-left: 5px;
}
#texto-nome{
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    color: var(--nome);
    margin-top: 2%;
    font-size: 48px;
}
#texto-cargo{
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    color: var(--texto);
    margin-top: 2%;
    font-size: 20px;
    padding-left: 7px;
    border-right: 2px solid var(--texto);
    animation: piscar 0.8s infinite;
    display: inline-block;
}
@keyframes piscar {
  50% {
    border-color: transparent;
}
}
.inicio-icon{
    display: flex;
    width: 90%;
    height: 20vh;
    justify-content: center;
    align-items: end;
    margin-top: 3%;
}
.inicio-icon i{
    color: var(--texto);
    font-size: 32px;
    animation: pular 0.8s infinite alternate;
    cursor: pointer;
}
@keyframes pular{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}
main{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
}
main h2{
    padding-top: 5%;
    font-size: 28px;
    font-weight: 500;
    color: var(--texto);
    align-self: flex-start;
    padding-left: 3.5%;
}
.icons-habilidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 20vh;
}
.caixa-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 260px;
    margin-right: 6.2%;
    margin-left: 6.2%;
    margin-top: 4%;
    border-radius: 20px;
    border: 1px solid var(--borda);
}
.caixa-habilidades img{
    height: 10vh;
}
.caixa-habilidades img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
#projetos{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 8%;
    flex-direction: column;
}
#projetos h2{
    font-size: 28px;
    font-weight: 500;
    color: var(--texto);
    align-self: flex-start;
    padding-left: 3.5%;
    padding-top: 4.2%;
}
.container-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 100%;
}
.caixa-projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 410px;
    width: 300px;
    border: 1px solid var(--borda);
    border-radius: 20px;
    margin-right: 6.2%;
    margin-left: 6.2%;
    margin-top: 4%;
    margin-bottom: 20vh;
}
.imagem-projeto{
    margin-top: 6%;
    width: 85%;
    border-radius: 25px;
    height: 110px;
}
.imagem-projeto img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.imagem-projeto img:hover{
    transform: scale(1.03);
}
.linguagens-detalhe{
    display: flex;
    margin-top: 2.7%;
    align-self: flex-start;
    padding-left: 30px;
}
.caixa-projetos h3{
    font-weight: 300;
    font-size: 8px;
    color: var(--texto-detalhe);
    padding: 2px 8px;
    background-color: var(--borda);
    border-radius: 25px;
    margin-right: 10%;
}
.caixa-projetos h4{
    display: flex;
    align-self: flex-start;
    color: var(--texto);
    padding-left: 30px;
    padding-top: 20px;
    font-weight: 400;
}
.caixa-projetos p{
    font-size: 12px;
    font-weight: 400;
    color: var(--texto);
    width: 92%;
    padding-top: 15px;
    padding-left: 20px;
}
.caixa-projetos a{
    text-decoration: none;
    color: var(--texto);
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid var(--borda);
    border-radius: 15px;
    margin-top: 20%;
}
.caixa-projetos a:hover{
    background-color: var(--botao);
    color: var(--texto-detalhe);
}
#btn-texto{
    margin-top: 9%;
}
#contato{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    align-items: center;
}
#contato h2{
    font-size: 28px;
    font-weight: 500;
    color: var(--texto);
    align-self: flex-start;
    padding-left: 3.5%;
}
.container-contato{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    width: 80%;
}
form{
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    border: 1px solid var(--borda);
    border-radius: 20px;
    margin-left: 4%;
    margin-bottom: 10%;
}
form h3{
    font-size: 16px;
    text-align: center;
    margin-bottom: 10%;
    color: var(--texto);
    font-weight: 500;
}
form label{
    font-size: 12px;
    margin-bottom: 1%;
    color: var(--texto);
}
form input{
    border-radius: 10px;
    margin-bottom: 7%;
    height: 3vh;
    font-size: 10px;
    display: flex;
}
input:focus {
    outline: none;
}
.mensagem{
    height: 7vh;
}
form a{
    margin-top: 2%;
    padding: 2% 4%;
    width: 100px;
    align-self: center;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    color: var(--texto);
    font-size: 14px;
    border: 1px solid var(--borda);
}
form a:hover{
    background-color: var(--botao);
    color: var(--texto-detalhe);
}
.redes-sociais{
    display: flex;
    flex-direction: column;
    margin-bottom: 25%;
}
.redes-sociais h3{
    color: var(--texto);
    font-size: 18px;
    font-weight: 400;
}
.icons-contato{
    display: flex;
    margin-top: 15%;
    align-items: center;
    width: 200px;
}
.icons-contato a{
    margin-right: 15%;
}
.icons-contato i{
    font-size: 30px;
    color: var(--texto);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-top: 1px solid var(--linha);
}
footer h3{
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 14px;
    color: var(--texto);
    font-weight: 400;
}
@media (max-width: 768px){
    .botao-header{
        display: none;
    }
    .header-modos{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container-contato{
        justify-content: center;
        flex-direction: column;
    }
}
@media (max-width: 480px){

    #texto{
        font-size: 30px;
    }
    #texto-nome{
        font-size: 38px;
    }
    #texto-cargo{
        font-size: 16px;
    }
    main h2{
        align-self: center;
        padding-left: 0;
    }
    #projetos h2{
        align-self: center;
        padding-left: 0;
        font-size: 26px;
    }
    #contato h2{
        align-self: center;
        padding-left: 0;
        font-size: 26px;
    }
    form{
        padding: 35px 35px;
    }
    .redes-sociais h3{
        align-self: center;
        font-size: 26px;
    }
    footer h3{
        font-size: 12px;
    }
}